## 1.1. Распаковка последовательности
## в отдельные переменные

In [2]:
p = (4, 5)
x, y = p
print(f'{x=},{y=}')

x=4,y=5

In [3]:
data = ['ACME', 50, 91.1, (2012, 12, 21 )]
name, shares, price, date = data
print(name, date)

ACME (2012, 12, 21)

In [4]:
name, shares, price, (year, mon, day) = data
print(year, mon, day)

2012 12 21

In [5]:
p = (4, 5)
x, y, z = p

ValueError: not enough values to unpack (expected 3, got 2)

In [6]:
s = 'Hello'
a, b, c, d, e = s
print(a, b, e)

H e o

In [7]:
_, shares, price, _ = data
print(shares, price)

50 91.1

## 1.2. Распаковка элементов из последовательностей
## произвольной длины

In [9]:
def drop_first_last(grades):
    first, *middle, last = grades
    return avg(middle)

record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
name, email, *phone_numbers = record
print(phone_numbers)

['773-555-1212', '847-555-1212']

In [10]:
*trailing_qtrs, current_qtr = sales_record

NameError: name 'sales_record' is not defined

In [21]:
records = [
 ('foo', 1, 2),
 ('bar', 'hello'),
 ('foo', 3, 4),
]

def do_foo(x, y):
    print('foo', x, y)
    
def do_bar(s):
    print('bar', s)
    
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)
        
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')
print(fields)

foo 1 2
bar hello
foo 3 4
['*', '-2', '-2', 'Unprivileged User']

In [22]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
name, *_, (*_, year) = record
print(name)
print(year)

ACME
2012

In [23]:
items = [1, 10, 7, 4, 5, 9]
head, *tail = items
print(head)
print(tail)

1
[10, 7, 4, 5, 9]

In [27]:
def sum(items):
    head, *tail = items
#     print(head + sum(tail) if tail else head)

    return head + sum(tail) if tail else head

sum(items)

36

## 1.3. Оставляем N последних элементов

In [ ]:
from collections import deque
def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)

In [40]:
from collections import deque
import itertools

def moving_average(iterable, n=3):
    it = iter(iterable)
#     print([i for i in it])
    print(it)
    d = deque(itertools.islice(it, n-1))
    print(d)
#     print([i for i in it])
    d.appendleft(0)
    print(d)
    s = sum(d)
    for elem in it:
        print(elem)
        s += elem - d.popleft()
        print(s)
        d.append(elem)
        print(d)
        yield s / n
        
list(moving_average([40, 30, 50, 46, 39, 44])        )

<list_iterator object at 0x7ff50ce38ca0>
deque([40, 30])
deque([0, 40, 30])
50
120
deque([40, 30, 50])
46
126
deque([30, 50, 46])
39
135
deque([50, 46, 39])
44
129
deque([46, 39, 44])

[40.0, 42.0, 45.0, 43.0]

In [49]:
def moving_average(iterable, n=3):
    it = iter(iterable)
    d = deque(itertools.islice(it, n-1))
    print(d)
    d.appendleft(0)
    print(d)
    s = sum(d)
    for elem in it:
        print(elem)
        s += elem - d.popleft()
        d.append(elem)
        yield s / n
        
list(moving_average([40, 30, 50, 46, 39, 44])        )

deque([40, 30])
deque([0, 40, 30])
50
46
39
44

[40.0, 42.0, 45.0, 43.0]

In [59]:
def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)
        
text = """1111
222
444
555"""



for line, prevline in search(text, '2', 5):
    print(line, prevline)
    for pline in prevline:
        print(pline, end='')
    print(line, end='')
    print('-'*20)

2 deque(['1', '1', '1', '1', '\n'], maxlen=5)
1111
2--------------------
2 deque(['1', '1', '1', '\n', '2'], maxlen=5)
111
22--------------------
2 deque(['1', '1', '\n', '2', '2'], maxlen=5)
11
222--------------------

In [62]:
# ограничение задается maxlen

q = deque(maxlen=3)
q.append(1)
q.append(2)
q.append(3)
print(q)
q.append(4)
print(q)
q.append(5)
print(q)

deque([1, 2, 3], maxlen=3)
deque([2, 3, 4], maxlen=3)
deque([3, 4, 5], maxlen=3)

## 1.4. Поиск N максимальных и минимальных элементов

In [64]:
# модуль heapq функции nlargest(), nsmallest()

import heapq

nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums))
print(heapq.nsmallest(3, nums))

[42, 37, 23]
[-4, 1, 2]

In [67]:
portfolio = [
    {'name': 'IBM', 'shares': 100, 'price': 91.1},
    {'name': 'AAPL', 'shares': 50, 'price': 543.22},
    {'name': 'FB', 'shares': 200, 'price': 21.09},
    {'name': 'HPQ', 'shares': 35, 'price': 31.75},
    {'name': 'YHOO', 'shares': 45, 'price': 16.35},
    {'name': 'ACME', 'shares': 75, 'price': 115.65},
    
]

cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expendive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

print(cheap, expendive)

[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}, {'name': 'HPQ', 'shares': 35, 'price': 31.75}] [{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [19]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]


import heapq
heap = list(nums)
heapq.heapify(heap)
heap
heapq.heappop(heap)
heapq.heappop(heap)
heapq.heappop(heap)
heap

[2, 7, 8, 23, 42, 37, 18, 23]

In [37]:
d = {'s': 1, 2: 3, 'ke': 'k', 5: 4}

import heapq

print(heapq.nsmallest(2, d, key=lambda s:type(s) == str ))
heapq.nsmallest(2, d, key=lambda k: d[k] if type(d[k]) != str else 0)

[2, 5]

['ke', 's']

## 1.5. Реализация очереди с приоритетом

In [56]:
import heapq

class PriorityQueue:
    
    def __init__(self):
        self._queue = []
        self._index = 0
        
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        print(-priority, self._index, item)
        self._index += 1
        print(self._queue)
        
    def pop(self):
        return heapq.heappop(self._queue)[-1]
    
    
class Item:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return 'Item({!r})'.format(self.name)
    
q = PriorityQueue()
q.push(Item('foo'), 1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)
q.pop()
q.pop()
q.pop()
q.pop()

-1 0 Item('foo')
[(-1, 0, Item('foo'))]
-5 1 Item('bar')
[(-5, 1, Item('bar')), (-1, 0, Item('foo'))]
-4 2 Item('spam')
[(-5, 1, Item('bar')), (-1, 0, Item('foo')), (-4, 2, Item('spam'))]
-1 3 Item('grok')
[(-5, 1, Item('bar')), (-1, 0, Item('foo')), (-4, 2, Item('spam')), (-1, 3, Item('grok'))]

Item('grok')

In [1]:
class MyClass():
    def __init__(self):
        self.__superprivate = "Hello"
        self._semiprivate = ", world!"
        self.index = 0
        
mc = MyClass()
mc.__dict__
dir(MyClass)
mc.__dict__

{'_MyClass__superprivate': 'Hello', '_semiprivate': ', world!', 'index': 0}

In [61]:
from MyClass import *

ModuleNotFoundError: No module named 'MyClass'

## 1.6. Отображение ключей на несколько значений
## в словаре

In [ ]:
d = {
    'a': [1, 2, 3],
    'b': [4, 5],
    
}

e = {
    'a': {1, 2, 3},
    'b': {4, 5}
}

In [2]:
from collections import defaultdict

d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(4)

d

defaultdict(list, {'a': [1, 2], 'b': [4]})

In [13]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['b'].add(4)

d.setdefault('c', []).append('ok')
d['d'].add('h')
d.setdefault('c', {}).append('ko')
d

defaultdict(set, {'a': {1, 2}, 'b': {4}, 'c': ['ok', 'ko'], 'd': {'h'}})

In [6]:
d  = {}
d.setdefault('a', []).append(1)
d.setdefault('a', []).append(2)
d.setdefault('b', []).append(4)
d.setdefault('c', {})
d

{'a': [1, 2], 'b': [4], 'c': {}}

## 1.7. Поддержание порядка в словарях

In [14]:
from collections import OrderedDict

d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4
d

OrderedDict([('foo', 1), ('bar', 2), ('spam', 3), ('grok', 4)])

In [15]:
import json

json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

## 1.8. Вычисления со словарями

In [16]:
prices = {
    'ACME': 45.23,
    'AAPL': 612.78,
    'IBM': 205.55,
    'HPQ': 37.20,
    'FB': 10.75,
    
}

In [25]:
min_price = min(zip(prices.values(), prices.keys()))
print(min_price)

max_price = max(zip(prices.values(), prices.keys()))
print(max_price)

prices_sorted = sorted(zip(prices.values(), prices.keys()))
print(prices_sorted)

prices_and_names = list(zip(prices.values(), prices.keys()))
print(min(prices_and_names))
print(max(prices_and_names))

(10.75, 'FB')
(612.78, 'AAPL')
[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]
(10.75, 'FB')
(612.78, 'AAPL')

In [27]:
min(prices, key=lambda k: prices[k])
max(prices, key=lambda k: prices[k])

'AAPL'

In [39]:
min_value = prices[min(prices, key=lambda k: prices[k])]
min_value

10.75

In [41]:
prices = { 'AAA': 45.23, 'ZZZ': 45.23}
min(zip(prices.values(), prices.keys()))
max(zip(prices.values(), prices.keys()))

(45.23, 'ZZZ')

## 1.9. Поиск общих элементов в двух словарях

In [43]:
a = {
    'x' : 1,
    'y' : 2,
    'z' : 3,    
}

b = {
    'w' : 10,
    'x' : 11,
    'y' : 2,
    
}

In [47]:
print(a.keys() & b.keys())
print(a.keys() - b.keys())
print(a.items() & b.items())

{'y', 'x'}
{'z'}
{('y', 2)}

In [48]:
c = {key:a[key] for key in a.keys() - {'z', 'w'}}
c

{'y': 2, 'x': 1}

## 1.10. Удаление дубликатов из последовательности
## с сохранением порядка элементов

In [49]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)
            
a = [1, 5, 2, 1, 9, 1, 5, 10]
list(dedupe(a))

[1, 5, 2, 9, 10]

In [62]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
            
a = [ {'x':1, 'y':2, 'c': 4}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(dedupe(a, key=lambda d: (d['x'], d['y'])))

import numpy as np

b = np.arange(9).tolist()

list(dedupe(b))

list(dedupe(a, key=lambda d: d['x']))

[{'x': 1, 'y': 2, 'c': 4}, {'x': 2, 'y': 4}]

In [64]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)

In [65]:
# читать файл, удаляя дублирующие строки

with open(somefile, 'r') as f:
    for line in dedupe(f):
        ...

NameError: name 'somefile' is not defined

## 1.11. Присваивание имен срезам

In [66]:
record = '....................100 .......513.25 ..........'

SHARES = slice(20,32)
PRICE = slice(40,48)

cost = int(record[SHARES]) * float(record[PRICE])
cost

ValueError: invalid literal for int() with base 10: '100 .......5'

In [69]:
items = [0, 1, 2, 3, 4, 5, 6]
a = slice(2, 4)
items[a]
items[a] = [10, 11]
items
del items[a]
items

[0, 1, 4, 5, 6]

In [70]:
a = slice(10, 50, 2)
a.start

10

In [77]:
s = 'HelloWorld'
a.indices(len(s))

s1 = 's;glsjg;sfgjsfhskdghskkhfskf'
a.indices(len(s1))

for i in range(*a.indices(len(s))):
    print(s[i])

**Собственные классы с возможностью применения срезов.**

In [74]:
import string

class AddressBook:
    def __init__(self):
        self.addresses = []
        
    def add_address(self, name, address):
        self.addresses.append((name, address))
        
    def get_addresses_by_first_letters(self, letters):
        letters = letters.upper()
        return [(name, address) for name, address in self.addresses
               if any(name.upper().startswith(letter) for letter in letters)]
    
    def __getitem__(self, key):
        if isinstance(key, str):
            return self.get_addresses_by_first_letters(key)
        if isinstance(key, slice):
            start, stop, step = key.start, key.stop, key.step
            letters = (string.ascii_uppercase[
                       string.ascii_uppercase.index(start):string.ascii_uppercase.index(stop)+1:
                       step])
            return self.get_addresses_by_first_letters(letters)
        
address_book = AddressBook()
address_book.add_address("Sherlock Holmes", "221B Baker St., London")
address_book.add_address("Wallace and Gromit", "62 West Wallaby Street, Wigan, Lancashire")
address_book.add_address("Peter Wimsey", "110a Piccadilly, London")
address_book.add_address("Al Bundy", "9764 Jeopardy Lane, Chicago, Illinois")
address_book.add_address("John Dolittle", "Oxenthorpe Road, Puddleby-on-the-Marsh, Slopshire, England")
address_book.add_address("Spongebob", "124 Conch Street, Bikini Bottom, Pacific Ocean")
address_book.add_address("Hercule Poirot", "Apt. 56B, Whitehaven Mansions, Sandhurst Square, London W1")
address_book.add_address("Bart Simpson", "742 Evergreen Terrace, Springfield, USA")

print(string.ascii_uppercase)
print(string.ascii_uppercase.index("A"))
print(string.ascii_uppercase.index("Z"))

print(address_book["A"])
print(address_book["B"])
print(address_book["S"])
print(address_book["A":"H"])
print(string.ascii_uppercase)
print(string.ascii_uppercase.index("A"))
print(string.ascii_uppercase.index("Z"))

print(address_book["A"])
# print(address_book["B"])
# print(address_book["S"])
# print(address_book["A":"H"])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
0
25
[('Al Bundy', '9764 Jeopardy Lane, Chicago, Illinois')]
[('Bart Simpson', '742 Evergreen Terrace, Springfield, USA')]
[('Sherlock Holmes', '221B Baker St., London'), ('Spongebob', '124 Conch Street, Bikini Bottom, Pacific Ocean')]
[('Al Bundy', '9764 Jeopardy Lane, Chicago, Illinois'), ('Hercule Poirot', 'Apt. 56B, Whitehaven Mansions, Sandhurst Square, London W1'), ('Bart Simpson', '742 Evergreen Terrace, Springfield, USA')]
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0
25
[('Al Bundy', '9764 Jeopardy Lane, Chicago, Illinois')]

## 1.12. Определение наиболее часто встречающихся
## элементов в последовательности

In [79]:
words = [
 'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
 'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
 'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
 'my', 'eyes', "you're", 'under'
]

from collections import Counter

word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

In [81]:
morewords = ['why', 'are', 'you', 'not', 'looking', 'in', 'my', 'eyes']
for word in morewords:
    word_counts[word] += 1

word_counts['eyes']

word_counts.update(morewords)

In [85]:
a = Counter(words)
b = Counter(morewords)

c = a + b
d = a - b
d

Counter({'look': 4,
         'into': 3,
         'my': 2,
         'eyes': 7,
         'the': 5,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1})

## 1.13. Сортировка списка словарей по общему ключу

In [87]:
rows = [
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [111]:
from pprint import pprint

from operator import itemgetter

rows_by_fname = sorted(rows, key=itemgetter('fname'))
rows_by_uid = sorted(rows, key=itemgetter('uid'))

pprint(rows_by_fname)
pprint(rows_by_uid)

rows_t = sorted(rows, key=lambda d: d['fname'])
rows_s = sorted(rows, key=lambda d: (d['uid'], d['lname']))

pprint(rows_t)
pprint(rows_s)

rows_by_lfname = sorted(rows, key=itemgetter('lname', 'fname'))
pprint(rows_by_lfname)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]
[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]
[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [107]:
t = [
    [1, 2, 3],
    [3, 4, 5],
    [5, 6, 7],
]

rows_r = sorted(t, key=lambda t: 7 in t, reverse=True)
rows_r

[[5, 6, 7], [1, 2, 3], [3, 4, 5]]

In [114]:
print(min(rows, key=itemgetter('uid')))
print(max(rows, key=itemgetter('uid')))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

## 1.14. Сортировка объектов, не поддерживающих
## сравнение

In [116]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
        
    def __repr__(self):
        return 'User({})'.format(self.user_id)
    
users = [User(23), User(3), User(99)]
print(users)
sorted(users, key=lambda u: u.user_id)

[User(23), User(3), User(99)]

[User(3), User(23), User(99)]

In [117]:
from operator import attrgetter

sorted(users, key=attrgetter('user_id'))

[User(3), User(23), User(99)]

In [119]:
print(min(users, key=attrgetter('user_id')))
print(max(users, key=attrgetter('user_id')))

User(3)
User(99)

## 1.15. Группирование записей на основе полей

In [120]:
rows = [
 {'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [121]:
from operator import itemgetter
from itertools import groupby

rows.sort(key=itemgetter('date'))

for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [124]:
from collections import defaultdict

rows_by_date = defaultdict(list)

for row in rows:
    rows_by_date[row['date']].append(row)
    
# rows_by_date
for r in rows_by_date['07/02/2012']:
    print(r)

{'address': '5800 E 58TH', 'date': '07/02/2012'}
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
{'address': '1060 W ADDISON', 'date': '07/02/2012'}

In [137]:
rows.sort(key=itemgetter('date'))

for d, item in groupby(rows, key=itemgetter('date')):
    for i in item:
        if d == '07/01/2012':
            print(i)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}

## 1.16. Фильтрование элементов последовательности

In [138]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
[n for n in mylist if n > 0]

[1, 4, 10, 2, 3]

In [139]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
    
ivals = list(filter(is_int, values))
print(ivals)

['1', '2', '-3', '4', '5']

In [140]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
import math
[math.sqrt(n) for n in mylist if n > 0]

[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

In [141]:
clip_neg = [n if n > 0 else 0 for n in mylist]
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

In [142]:
clip_pos = [n if n < 0 else 0 for n in mylist]
clip_pos

[0, 0, -5, 0, -7, 0, 0, -1]

In [143]:
addresses = [
 '5412 N CLARK',
 '5148 N CLARK',
 '5800 E 58TH',
 '2122 N CLARK',
 '5645 N RAVENSWOOD',
 '1060 W ADDISON',
 '4801 N BROADWAY',
 '1039 W GRANVILLE',
]

counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [145]:
from itertools import compress

more5 = [n > 5 for n in counts]
print(more5)
list(compress(addresses, more5))

[False, False, True, False, False, True, True, False]

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

## 1.17. Извлечение подмножества из словаря

In [146]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
}

In [158]:

# Создать словарь всех акций с ценами больше 200

%timeit p1 = { key:value for key, value in prices.items() if value > 200}
print(p1)

# с помощью функции dict()
%timeit
p1 = dict((key, value) for key, value in prices.items() if value > 200)

513 ns ± 8.83 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
{'AAPL': 612.78, 'IBM': 205.55}

In [150]:
# Создать словарь акций всех технологических компаний
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }

p2 = { key:value for key, value in prices.items() if key in tech_names}
print(p2)

{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

## 1.18. Отображение имен на последовательность элементов

In [162]:
from collections import namedtuple

Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
sub = Subscriber('jonesy@example.com', '2012-10-19')
print(sub)
print(sub.addr)
print(sub.joined)
len(sub)

Subscriber(addr='jonesy@example.com', joined='2012-10-19')
jonesy@example.com
2012-10-19

2

In [163]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        total += rec[1] * rec[2]
    return total

# версия с именованным кортежем

from collections import namedtuple

Stock = namedtuple('Stock', ['name', 'shares', 'price'])
def compute_cost(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
    return total

In [168]:
s = Stock('ACME', 100, 123.45)
s = s._replace(shares=75)
s

Stock(name='ACME', shares=75, price=123.45)

In [169]:
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time',])

stock_prototype = Stock('', 0, 0.0, None, None)

def dict_to_stock(s):
    return stock_prototype._replace(**s)

a = {'name': 'ACME', 'shares':100, 'price': 123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [171]:
Hui = namedtuple('Hui', ['cm', 'толщина', 'наличие'])

hui_prototype = Hui(0.0, 0.0, False)

def organ_to_hui(organ):
    return hui_prototype._replace(**organ)

a = {'cm': 7.6, 'толщина': 1.1, 'наличие': True}

organ_to_hui(a)

Hui(cm=7.6, толщина=1.1, наличие=True)

In [172]:
b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'}
dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)

## 1.19. Одновременное преобразование и сокращение
 ## (свертка) данных

In [174]:
nums = [1, 2, 3, 4, 5]

s = sum(x*x for x in nums)
s

55

In [178]:
s = ('ACME', 50, 123.45)
print(','.join(str(x) for x in s))

ACME,50,123.45

In [180]:
portfolio = [
 {'name':'GOOG', 'shares': 50},
 {'name':'YHOO', 'shares': 75},
 {'name':'AOL', 'shares': 20},
 {'name':'SCOX', 'shares': 65}
]

min_shares = min(s['shares'] for s in portfolio)
print(min_shares)

20

In [184]:
min_shares = min(s['shares'] for s in portfolio)
min_shares = min(portfolio, key=lambda s: s['shares'])
min_shares

{'name': 'AOL', 'shares': 20}

## 1.20. Объединение нескольких отображений в одно

In [190]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

from collections import ChainMap
c = ChainMap(a, b)
print(c['x'])
print(c['y'])
print(c['z'])

c['z'] = 10
c['w'] = 40
del c['x']
del c['y']

1
2
3

KeyError: "Key not found in the first mapping: 'y'"

In [196]:
values = ChainMap()
values['x'] = 1
values = values.new_child()
values['x'] = 2
values = values.new_child()
values['x'] = 3
values = values.parents
print(values['x'])
values = values.parents
print(values['x'])
values

2
1

ChainMap({'x': 1})

In [199]:
a = {'x': 1, 'z': 3}
b = {'y': 2, 'z': 4}

merged = dict(b)

merged.update(a)
merged['x']
merged['y']
merged['z']

3

In [201]:
merged = ChainMap(a, b)
merged['x']

a['x'] = 42
merged['x']

42